body {
  color: #fffbfc;
  font-family: 'Roboto Mono', monospace;
  background: #252627;
}
table {
  width: 100%;
  background: #323334;
  border: 1rem solid #323334;
}
thead {
  border-bottom: 3px solid #fffbfc;
}
/* thead th:first-child {
  font-weight: bold;
} */
th,
td {
  padding: 0.5rem;
  text-align: right;
}
th:first-child,
td:first-child {
  text-align: left;
}

/* i.arrow {
	border: solid #fffbfc;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin: 3px;
}
i.arrow.right {
		transform: rotate(-45deg);
}
i.arrow.left {
  transform: rotate(135deg);
}
i.arrow.up {
  transform: rotate(-135deg);
}
i.arrow.down {
  transform: rotate(45deg);
} */
