table {
	width: 100%;
	background: #323334;
	border: 1rem solid #323334;
}

thead {
	border-bottom: 3px solid #fffbfc;
}

thead th:first-child {
	font-weight: bold;
}

th,
td {
	padding: .5rem;
	text-align: right;
}

th:first-child,
td:first-child {
	text-align: left;
}
